<header class="intro-header">
  <div class="view jarallax bg" data-jarallax='{"speed": 0.2}' style="background-image: url('../../assets/imgs/Home1.png');">
    <div class="mask">

      <div class="container flex-center">
        <div class="row w-100 ">
          <div class="col-md-12">
            <div class="text-center">
              <h2 class="h1 h1-reponsive white-text wow fadeInDown" ><strong>JORDAN DANBERRY</strong></h2>
              <hr class="hr-light wow fadeInDown" data-wow-delay="0.4s">
            </div>
          </div>
          <div class="col-6 mt-3">
            <div class="text-left">
              <h3 class="white-text wow fadeInDown" data-wow-delay="0.4s"><strong>INFLUENCER</strong></h3>
              <h3 class="white-text wow fadeInDown" data-wow-delay="0.4s"><strong>MODEL</strong></h3>
            </div>
          </div>
          <div class="col-6 mt-3">
            <div class="text-right">
              <h3 class="white-text wow fadeInDown" data-wow-delay="0.4s"><strong>PRESIDENT</strong></h3>
              <h3 class="white-text wow fadeInDown" data-wow-delay="0.4s"><strong>ATHLETE</strong></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--<router-outlet></router-outlet>-->
