
<header class="intro-header">
<!--  <app-navbar></app-navbar>-->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}'>
     <div class="container flex-center">
       <section class="pb-2 pt-5"></section>
       <div class="row d-flex align-items-center justify-content-center">
         <div class="col-md-3 bg" style="background-image: url('../../assets/imgs/Home.png');"></div>
         <div class="col-md-6 bg" style="background-image: url('../../assets/imgs/Home1.png');">
           <div class="text-center">
             <h2 class="h1" ><strong>India Lattimore</strong></h2>
             <h3 class="pl-10">Software Engineer</h3>
             <button>resume</button>
           </div>
         </div>
         <div class="col-md-3 bg" style="background-image: url('../../assets/imgs/Home2.png');"></div>
       </div>
     </div>
  </div>
</header>
